section {
    padding: 6rem 0;
}
h2 {
    color: #2c3e50 !important;
}
hr {
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    color: #2c3e50 !important;
}
hr::after {
    color: #2c3e50 !important;
}
.form-floating label {
    color: #868e96;
}
.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    color: #18bc9c;
}
.form-check > input {
    font-size: 1.5em;
}
.form-check > label {
    font-size: 1.5em;
}