<header class="text-center text-white masthead" style="background-size: cover;">
  <div class="d-lg-flex align-items-lg-start overlay" style="opacity: 0.60;"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto position-relative">
        <h1 class="mb-5">Share household appliances with <br>your neighbours!</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative">
        <form>
          <div (click)="searchForm.reset(); searching=false" class="row">
            <form [formGroup]="searchForm">
              <div class="row">
                <div class="col-12 col-md-9 text-end mb-2 mb-md-0">
                  <input [matAutocomplete]="auto" formControlName="search" (keypress)="searchItems($event.target?.value)" class="form-control" type="text" placeholder="Search an appliance..." style="margin: 10px;">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let item of searchedItems" [value]="item.itemName">
                      <a [routerLink]="['product-detail', item.id]" class="header">{{item.itemName}}</a>
                    </mat-option>
                  </mat-autocomplete>

                </div>
                <!-- <div class="col-12 col-md-3">
                  <button class="btn btn-primary btn-lg" data-bss-hover-animate="tada" type="submit" style="background: #009ea0;border-color: #009ea0;border-top-color: rgb(255,255,255);border-left-color: rgb(255,255,255);margin: 5px;">Search</button>
                </div> -->
                <!-- <div [ngClass]="searching ? 'visible' : 'hidden'" class="results transition">
                  <div *ngIf="searchedItems && searchedItems.length > 0; else notFound">
                    <div class="ui list" *ngFor="let item of searchedItems">
                      <div class="item">
                        <i class="map marker icon"></i>
                        <div class="content">
                          <a [routerLink]="['product-detail', item.id]" class="header">{{item.itemName}}</a>
                          <div class="description">{{item.itemDescription}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ng-template #notFound>
                      <a href="" class="result">Did not find any matching item</a>
                  </ng-template>
                </div> -->
              </div>
            </form>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
<section style="padding: 100px;background: #dce7e8;height: 750px;">
  <div>
    <h2 class="text-start mb-5" style="color: rgb(7,7,7);padding: 10px;"><i class="fas fa-map-marker-alt" style="padding: 10px;color: rgb(17,18,18);"></i>&nbsp; &nbsp; Explore Nearby</h2>
  </div>
  <div>
    <div class="row">
      <div class="col-lg-3" style="padding: 20px;background: transparent;text-align: center;"><img class="img-fluid border-info shadow-lg mb-3" src="../../assets/img/dyson-dc50-animal-vacuum-cleaner-0.jpeg" style="filter: hue-rotate(0deg) sepia(0%);height: 214.25px;width: 214.25px;">
        <h5 style="height: 48px;">Dyson Vacuum Cleaner<br><br></h5>
        <p class="font-weight-light mb-0" style="font-size: 12px;height: 72px;"><em>"Dyson V7 Motorhead Cordless Vacuum is suitable for carpets and hard flooring."</em><br><br><br></p>
        <div style="text-align: center;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></div>
        <div style="text-align: center;"><a href="#" style="font-size: 10px;height: 0px;width: 0px;">15 reviews</a></div>
        <div style="border-style: none;"><input class="form-control-plaintext" type="text" value="$3 per day || $10 per week" readonly="" style="font-size: 12px;text-align: center;"></div>
        <div style="text-align: center;"><button class="btn btn-primary" data-bss-hover-animate="tada" type="button" style="width: 50px;height: 30px;font-size: 11px;background: var(--bs-cyan);border-color: var(--bs-cyan);text-align: center;">View</button></div>
      </div>
      <div class="col-lg-3" style="padding: 20px;text-align: center;"><img class="img-fluid shadow-lg mb-3" src="../../assets/img/Screen Shot 2021-10-01 at 3.52.28 pm.png" style="height: 214.25px;width: 214.25px;">
        <h5 style="height: 48px;">Matador BBQ<br><br></h5>
        <p class="font-weight-light mb-0" style="font-size: 12px;height: 72px;"><em>"The vitreous enamel grill and hotplate and large glass hood window make it an ideal BBQ"</em><br><br></p>
        <div style="text-align: center;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="#" style="font-size: 10px;text-align: center;">30 reviews</a>
        <div><input class="form-control-plaintext" type="text" value="$10 per day || $40 per week" readonly="" style="font-size: 12px;text-align: center;"></div>
        <div><button class="btn btn-primary" data-bss-hover-animate="tada" type="button" style="width: 50px;height: 30px;font-size: 11px;background: var(--bs-cyan);border-color: var(--bs-cyan);">View</button></div>
      </div>
      <div class="col-lg-3 offset-lg-0" style="padding: 20px;text-align: center;"><img class="img-fluid shadow-lg mb-3" src="../../assets/img/Sunbeam-Gallerie-Metaliic-1000x759.jpeg" style="height: 214.25px;width: 214.25px;">
        <h5 style="height: 48px;">KitchenAid Mixer<br><br></h5>
        <p class="font-weight-light mb-0" style="font-size: 12px;height: 72px;"><em>"Can aid with mixing, dough kneading, whipping, pasta rolling, and meat grinding"</em><br><br><br></p>
        <div style="text-align: center;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="#" style="font-size: 10px;">3 reviews</a>
        <div><input class="form-control-plaintext" type="text" value="$3 per day || $12 per week" readonly="" style="font-size: 12px;text-align: center;"></div>
        <div><button class="btn btn-primary" data-bss-hover-animate="tada" type="button" style="width: 50px;height: 30px;font-size: 11px;background: var(--bs-cyan);border-color: var(--bs-cyan);">View</button></div>
      </div>
      <div class="col-lg-3 offset-lg-0" style="padding: 20px;text-align: center;"><img class="img-fluid shadow-lg mb-3" src="../../assets/img/f382fa85-9f97-491c-91b3-c7e41a06bbf9.png" style="height: 214.25px;border-width: 10px;width: 214.25px;">
        <h5 style="height: 48px;">Karcher Pressure Cleaner</h5>
        <p class="font-weight-light mb-0" style="font-size: 12px;height: 72px;"><em>"Ideal for cleaning cars, decks, pavers &amp; many other outdoor areas"</em><br><br><br></p>
        <div style="text-align: center;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></div><a href="#" style="font-size: 10px;">12 reviews</a>
        <div><input class="form-control-plaintext" type="text" value="$7 per day || $30 per week" readonly="" style="font-size: 12px;text-align: center;"></div>
        <div><button class="btn btn-primary" data-bss-hover-animate="tada" type="button" style="width: 50px;height: 30px;font-size: 11px;background: var(--bs-cyan);border-color: var(--bs-cyan);">View</button></div>
      </div>
    </div>
  </div>
</section>
<section class="showcase" style="background: #dce7e8;">
  <div class="container-fluid p-0" style="padding: 100px;">
    <div>
      <div class="row" style="padding: 50px;">
        <div class="col" style="padding: 0px;width: 558.5px;"><img src="../../assets/img/istockphoto-1293762741-170667a.jpeg" style="height: 375px;"></div>
        <div class="col text-center align-self-center" style="padding: 0px;width: 558.5px;">
          <h1 style="width: 558.5px;">Become a Renter</h1>
          <p>Find an affordable, short-term appliance rental near you.&nbsp;</p>
        </div>
        <div class="col text-center align-self-center" style="text-align: center;width: 558.5px;">
          <h1 style="width: 558.5px;">Become a Lender</h1>
          <p>Earn extra income from items you already own.&nbsp;</p>
        </div>
        <div class="col" style="padding: 0px;width: 558.5px;"><img src="../../assets/img/image1.png" style="height: 375px;"></div>
      </div>
    </div>
  </div>
</section>
