<div class="modal-header">
  <h2 class="ui center aligned icon header">Registration</h2>
  <button class="btn-close close pull-right" (click)="hideModal()"></button>
</div>
<div class="modal-content">
  <div class="modal-body">
    <form [formGroup]="signUpForm" class="ui form">
      <div class="field">
        <label>Usernaame</label>
        <input type="text" formControlName="username" placeholder="Username">
        <div class="alert alert-danger esk-mt-1" role="alert" *ngIf='signUpForm.controls["username"].invalid'>
          Please input the Username
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" formControlName="password" placeholder="Password">
        <div class="alert alert-danger esk-mt-1" role="alert" *ngIf='signUpForm.controls["password"].invalid'>
          Please input the Password
        </div>
      </div>
      <div class="field">
        <label>Email</label>
        <input type="email" formControlName="email" placeholder="Email">
        <div class="alert alert-danger esk-mt-1" role="alert" *ngIf='signUpForm.controls["email"].invalid'>
          Please input the right Email
        </div>
      </div>
      <div class="field">
        <label>Address</label>
        <input type="text" formControlName="address" placeholder="Address">
        <div class="alert alert-danger esk-mt-1" role="alert" *ngIf='signUpForm.controls["address"].invalid'>
          Please input the Address
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" formControlName='acceptTerms'>
          <label>I agree to the Terms and Conditions</label>
        </div>
      </div>
      <button class="ui center aligned button" [disabled]="signUpForm.invalid"
        (click)="register()">Sign Up</button>
    </form>
  </div>
</div>
