<div class="modal-header">
    <h2 class="ui center aligned icon header">Registration</h2>
    <button class="btn-close close pull-right" (click)="bsModalRef.hide()"></button>
</div>
<div class="modal-content">
    <div class="modal-body">
        <form [formGroup]="signUpForm" class="ui form">
            <app-input label="Name" placeholder="Full name..." inputType="text" [control]="$any(signUpForm).controls['name']"></app-input>
            <app-input label="Email" placeholder="Email..." inputType="email" [control]="$any(signUpForm).controls['email']"></app-input>
            <app-input label="Username" placeholder="Unique username..." inputType="email" [control]="$any(signUpForm).controls['username']"></app-input>
            <app-input label="Password" placeholder="Password..." inputType="password" [control]="$any(signUpForm).controls['password']"></app-input>
            <app-input label="Confirm Password" placeholder="Re-enter Password..." inputType="password" [control]="$any(signUpForm).controls['confirmPassword']"></app-input>
            <div class="ui red label" *ngIf="$any(signUpForm).controls['password'].touched && $any(signUpForm).controls['confirmPassword'].touched && signUpForm.errors">
              <p *ngIf="signUpForm.errors.noMatch">Password did not match</p>
            </div>
            <button [disabled]="signUpForm.invalid" [ngClass]="loading ? 'ui primary loading button': 'ui blue basic aligned button'" (click)="onSubmit()" type="submit">Sign Up</button>
        </form>
    </div>
    {{this.signUpForm.value | json}}
</div>
