<div class="modal-header">
  <h2 class="ui center aligned icon header">Login</h2>
  <button class="btn-close close pull-right" (click)="hideModal()"></button>
</div>
<div class="modal-content">
  <div class="modal-body">
    <form [formGroup]="loginForm" class="ui form">
      <div class="field">
        <label>Email or Username</label>
        <input type="text" formControlName="username" placeholder="Usernaame">
        <div class="alert alert-danger esk-mt-1" role="alert" *ngIf='loginForm.controls["username"].invalid'>
          Please input the Email or Username
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" formControlName="password" placeholder="Password">
        <div class="alert alert-danger esk-mt-1" role="alert" *ngIf='loginForm.controls["password"].invalid'>
          Please input the Password
        </div>
      </div>
      <button class="ui center aligned button" [disabled]="loginForm.invalid" (click)="login()">Login</button>
    </form>
  </div>
</div>
